:root {
    --accent-color: #D52027;
}

body {
    font-family: "Jost", serif;
    color: #141024;
}

a {
    color: black;
    text-decoration: none;
}

.header {
    background-color: #141024;
}

.container {
    max-width: 1160px;
    margin: 0 auto;
}

.nav__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 100px;
    margin-left: 100px;
    padding-top: 30px;
    padding-bottom: 84.52px;
}

.logo {
    font-weight: 700;
    font-size: 30px;
    line-height: 48px;
    color: white;
}

.nav__items {
    display: flex;
    gap: 40px;
}

.nav__links {
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: white;
}

.link__number {
    font-weight: 600;
    font-size: 30px;
    line-height: 48px;
    color: white;
}

/* MAIN */

.main__inner {
    display: flex;
    gap: 28px;
}

.main__text {
    position: absolute;
}

.main__title {
    font-weight: 600;
    font-size: 70px;
    line-height: 112px;
    color: white;
    margin-top: 274px;
    overflow:hidden;
}

.main__disc {
    margin-top: 20px;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: white;
    max-width: 478px;
    overflow:hidden;
}

.btn {
    margin-top: 50px;
    display: inline-block;
    padding: 25px 54px 25px 54px;
    background-color: var(--accent-color);
    font-weight: 400;
    font-size: 18px;
    line-height: 28.8px;
    color: white;
}

.main__img {
    position: relative;
    right: -550px;
}

/* INFO */

.info {
    padding-top: 120px;
    padding-bottom: 120px;
}

.info__disc {
    max-width: 891px;
    font-weight: 400;
    font-size: 30px;
    line-height: 48px;
}

.info__disc span {
    font-weight: 600;
    font-size: 30px;
    line-height: 48px;
}

.info__number-inner {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}

.info__number-title {
    font-weight: 600;
    font-size: 70px;
    line-height: 112px;
    color: var(--accent-color);
}

.info__number-disc {
    max-width: 260px;
    font-weight: 400;
    font-size: 18px;
    line-height: 28.8px;
}

/* SKILLS */

.section__skills {
    background-color: #F9F9F9;
}

.skills {
    padding-top: 100px;
    padding-bottom: 100px;
}

.skills__title {
    font-weight: 600;
    font-size: 50px;
    line-height: 80px;
}

.skills__inner {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}

.skill__item-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 38.4px;
}

.skill__item-disc {
    max-width: 360px;
    font-weight: 400;
    font-size: 18px;
    line-height: 28.8px;
    margin-top: 20px;
}