body {
    font-family: "Jost", serif;
}

a {
    color: black;
    text-decoration: none;
}

.header {
    background-color: #141024;
}

.container {
    max-width: 1160px;
    margin: 0 auto;
}

.nav__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 100px;
    margin-left: 100px;
    padding-top: 30px;
    padding-bottom: 84.52px;
}

.logo {
    font-weight: 700;
    font-size: 30px;
    line-height: 48px;
    color: white;
}

.nav__items {
    display: flex;
    gap: 40px;
}

.nav__links {
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: white;
}

.link__number {
    font-weight: 600;
    font-size: 30px;
    line-height: 48px;
    color: white;
}

/* MAIN */

.main__info-inner {
    display: flex;
    gap: 28px;
}

.main__info-text {
    position: absolute;
}

.main__title {
    font-weight: 600;
    font-size: 70px;
    line-height: 112px;
    color: white;
    margin-top: 274px;
    overflow:hidden;
}

.main__disc {
    margin-top: 20px;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: white;
    max-width: 478px;
    overflow:hidden;
}

.btn {
    margin-top: 50px;
    display: inline-block;
    padding: 25px 54px 25px 54px;
    background-color: #D52027;
    font-weight: 400;
    font-size: 18px;
    line-height: 28.8px;
    color: white;
}

.main__img {
    position: relative;
    right: -550px;
}